@model Turnos.Models.Turno

@{
    ViewBag.Title = "Asignación de Turnos";
}

<div class="row">
    <div class="col s6">
        <label asp-for="IdMedico">Médico</label>
        <select asp-for="IdMedico" asp-items="ViewBag.IdMedico"></select>        
    </div>
    <div class="col s6">
        <label asp-for="IdPaciente">Paciente</label>
        <select asp-for="IdPaciente" asp-items="ViewBag.IdPaciente"></select>        
    </div>
</div>

<div id="CalendarioTurnos"></div>

<link href="~/fullcalendar/fullcalendar.css" rel="stylesheet"/>
<link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print"/>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/fullcalendar/locale/es.js"></script>
    <script>
    $(document).ready(function(){

        var horarioDesde = "";
        var horarioHasta = "";


        $.ajax({
            type: "GET",
            url: "Medico/TraerHorarioAtencionDesde",
            data: { "idMedico": $('#IdMedico').val() },
            async: false,
            success: function (resultado){
                        horarioDesde = resultado;
                    },
                error: function (){
                        alert("Error al traer el horario de atención DESDE del médico.");
                        }

        });
         $.ajax({
            type: "GET",
            url: "Medico/TraerHorarioAtencionHasta",
            data: { "idMedico": $('#IdMedico').val() },
            async: false,
            success: function (resultado){
                        horarioHasta = resultado;
                    },
                error: function (){
                        alert("Error al traer el horario de atención HASTA del médico.");
                        }

        });



        $('#CalendarioTurnos').fullCalendar({
            contentHeight: 'auto',
                    defaultDate: new Date(),
                    slotLabelFormat: "HH:mm",
                    defaultView: 'agendaWeek',
                    header: {
                        left: 'prev,next today',
                        right: 'month,agendaWeek,agendaDay',
                    },
                    slotDuration: '00:30',
                    nowIndicator: true,
                    allDaySlot: false,
                    selectable: true,
                    eventLimit: true,
                    minTime: horarioDesde,
                    maxTime: horarioHasta, 

        }) 
    })


    </script>

}

